<%- include('partials/header.ejs') %>
    <%- include('partials/main-nav.ejs') %>

        <section id="site-main">
            <div class="container mt-3">
                <h1 class="text-center">Business Contact List</h1>
                <!-- <hr class="hr"> -->
                <div class="box-nav d-flex-justify-between add-div">
                    <div class="filter">
                        <a href="/business-contact-list" class="btn btn-add"><i class="fas fa-angle-double-left" style="margin-right:7px"></i>All Contacts</a>
                    </div>
                </div>

                <div class="form-title text-center">
                    <h2 class="text-dark">New Contact</h2>
                    <h5>Use the below form to create new contact</h5>
                </div>

                <%- include('partials/form.ejs') %>
            </div>
        </section>

        <%- include('partials/bottom-nav.ejs') %>
            <%- include('partials/footer.ejs') %>