  <!-- index.ejs Isha Kothadia 301298827 08/02/2023 -->
  
  <%- include('partials/header.ejs') %>
  <%- include('partials/main-nav.ejs') %>

  <!--Main content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">
        <%= title %>
      </h1>
      <p>Welcome to <%= title %>
      </p>
    </div>
  </main>

 <%- include('partials/bottom-nav.ejs') %>
<%- include('partials/footer.ejs') %>